<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

              <section>
                <form id="addItem">
                  <label>Athor:</label>
                  <input type="text" name="author" value="abc">
                  <label>Recipe Name:</label>
                  <input type="text" name="name" value="">
                  <label for="desc"> Recipe Details:</label>
                  <input type="text" name="desc" value="">
                  <label class="ingredients">Ingredients:
                    <div id="0">
                      <input type="text" value="Garlic 20g">
                      <button class="remove">
                        <i>×</i>
                      </button>
                    </div>
                  </label>

                  <button class="add">Add Ingredient</button>
                  <label for="">Recipe:</label>
                  <textarea name="howto" cols="30" rows="20"></textarea>
                  <label>Add Image (URL)</label>
                  <input type="text" name="url" value="https://">
                  <button class="submit" type="submit">Submit</button>
                </form>
              </section>
            </div>
        </div>

    </div>
</div>
