.main-container{
  margin-top: 60px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;

}
@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blue-snackbar {
  background: #2196F3;
}
.mat-snack-bar-container {
  color:white;
  background: #2196F3;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
// for navbar
   nav {
     background-color: #333;
     display: flex;
     justify-content: space-between;
     align-items: center;

h4 {
  color: white;
  margin-left: 1.25em;
}

li:hover {
  transform: scale(1.2);
}
a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: all 500ms;
&:hover, &:focus {
            color: mix(orange, white , 37%);
          }
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
a {
  display: inline-block;
  text-decoration: none;
}
}
//all filed inside recipe will flow top to bottom
  .recipe {
    position: relative;
    padding: 0 0.5em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    width: 240px;
    margin: 10px;
    height: 360px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: all 1000ms linear;
    overflow: hidden;

  }
//set color of background image when hover to white and hight and width to 100% to cover full div
  .recipe:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    animation: fadeout 500ms ease-in forwards;
    transition: all 500ms;
  }

  .recipe:hover:after, .recipe:active:after, .recipe:focus:after {

    opacity: 0;
    animation: fadein 500ms ease-in forwards;
    z-index: 1;
  }
//set imag hight 70% of div recipe in starting it will halfimage means 100% to 70% heigth

 .recipe img {
   position: absolute;
   top: 0;
   left: -20%;
   height: 70%;
   animation: halfimage 500ms ease-in-out forwards;
 }
//set image height from 70% to 100% of the div recipe when hover use fullimage keyframe
  .recipe:hover img, .recipe:focus img {
    animation: fullimage 500ms ease-in-out forwards;

  }
//use fadein for opacity 0  to 0.38

  .recipe:hover i, .recipe:focus i	 {
    animation: fadein 500ms ease-in-out forwards;

  }
//color of recipe name and by text

  .recipe h3, .recipe p {
    z-index: 2;
    color: black;
  }

//color of author text
  .recipe span {
    color: orange;
  }

//use fadein for opacity 0.4  to 0
.icon {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  animation: fadeout 500ms ease-in-out forwards;
  font-size: 1.7em;

}

//use fadein for opacity 0.4  to 0

.icon2 {
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  animation: fadeout 500ms ease-in-out forwards;
  font-size: 1.7em;

}

/* create keyframe for fadin fadout fullimage halfimage */

@keyframes fadein {
  from {
    opacity: 0;

  }
  to {
    opacity: 0.38;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.4;

  }
  to {
    opacity: 0;
  }
}

@keyframes fullimage {
  from {
    height: 70%;
  }
  to {
    height: 100%;
  }
}
@keyframes halfimage {
  from {
    height: 100%;
  }
  to {
    height: 70%;
  }
}


// Add Recipe css

   #addItem {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 1em;
   }

#addItem label {
  padding: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

#addItem input {
  padding: 1em .5em;
  border: 1px solid #666;
  outline-color: orange;
}

#addItem textarea {
  outline-color: orange;
  padding: 1em;
}

#addItem button {
  cursor: pointer;
  padding: 1em;
}

.ingredients div {
  display: flex;
  margin: 1em 0;
}

.ingredients div input {
  width: 100%;
}
.ingredients div button {
  border: solid 1px #666;
  background-color: red;
  font-size: 1.2em;
  font-weight: 600;
}

.submit {
  margin: 1em 0;
  background-color: orange;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-color: orange;
}



// Home

   #Home h2 {
     text-align: center;
     font-size: 2em;
   }

@media all and (min-width: 900px) {
  #addItem, #Home {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media all and (max-width: 320px) {
  nav {
    flex-direction: column;
  }

}
.blue-snackbar {
  background: #2196F3  !important;
  color:white;
}

.green-snackbar {
  background: rgb(41, 177, 86) !important;
  color:white;
}
.red-snackbar {
  background: rgb(216, 8, 8)  !important;
  color:white;
}
a.btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
a.btn {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.a-btn-slide-text{
  top: 5%;
  left: 10%;
  z-index: 1000;
  cursor: pointer;
  opacity: 1;
  color: white !important;
}
.a-btn-slide-text span{

  color: white !important;

}
.test{

  background-color: #4f5467 !important;
  border-color: #4f5467 !important;
}
p {
  font-family: Lato;
}

.page-header{

  background-position: center center;
  background-size: cover;
  min-height: 50vh;
  max-height: 99px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.recipe-name{
  color: #fff !important;
  font-size: 30px;
}
.user-name{
  color: mintcream !important;
  font-size: 22px;
}
.ingredients,.directions{
  font-size: 18px;
}
.recipe-details p,h1,h3{
color:#fff;
}
.time-instructions p{
font-weight: 800;
  font-size: 18px;
}
.page-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary, .btn-primary.disabled {
  background-color: #4f5467 !important;
  border-color: #4f5467 !important;
  box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
  transition: 0.2s ease-in;
}

.btn {
  padding: 7px 12px;
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #4f5467 !important;
  border-color: #4f5467 !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
