<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="pacman">
  <p style="font-size: 20px; color: white;position: relative; top:40px;"></p>
  ></ngx-spinner>

<section id="Home">
  <div class="container">
    <a *ngFor="let recipe of recipeData; let i = index;" (click)="view(recipe._id)">
      <div class="recipe">
        <i (click)="deleteRecipe(recipe._id)" class="icon">×</i>
        <a (click)="edit(recipe._id)">
          <i class="icon2">✍</i>
        </a>
        <img src={{recipe.url}} alt="{{recipe.name}}">
        <h3> {{recipe.name}} </h3>
        <p>by
          <span class="author">{{recipe.author}} </span>
        </p>
      </div>
    </a>
  </div>
</section>
